.sect1{
    background-image: url("/assets/sasun-bughdaryan-RlIppR1I3E8-unsplash.jpg");
    background-size: cover;
    height: 100vh;
}

body>section>nav>div>ul>li{
    display: inline-block;
    padding: 10px;
}
li:hover{
    background-color:chartreuse
}
#hdd{
    font-size:xx-large;
    color: white;
    margin: 30px;
}

section>.cont2{
    display: flex;
    margin: 20px;
    align-items: center;
}

section>.cont3{
    display: flex;
    align-items: center;
}
